/* sidebar
=============================================*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
hr {
  border: none;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #203248e2;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav-cont {
  width: 90%;
  float: right;
}
.sidenav a,
.dropdown-btn {
  padding: 20px 20px 20px 30px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  opacity: 0.7;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10%;
}
.menu span span {
	margin-left: 100px;
    color: #d7c4bb;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
}
.sidenav span {
  text-decoration: none;
  font-size: 20px;
  font-weight: 450;
  letter-spacing: 3px;
  color: #fff;
  cursor: pointer;
}
.logo {
  width: 60px;
  height: auto;
  vertical-align: middle;
  padding-right: 25px;
}
/* 因為這個會影響到彈窗的日曆樣式，所以多寫了button，本來只有.active */
button.active {
  background-color: #3a8fb7;
  color: white;
  border-top-left-radius: 40px;
}

.active::after {
  font-weight: 900;
  display: inline-block;
  padding-right: 15px;
  font-size: 180%;
  color: #034171;
}

.dropdown-container {
  display: none;
  background-color: #3a8fb7;
  opacity: 0.7;
  border-bottom-left-radius: 40px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.sidenav a:hover,
.dropdown-btn:hover {
  background-color: #81c7d4b8;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  opacity: 1;
}

/* 
   原本是寫「.active:hover」，這樣寫，background-color會影響到彈窗中的日曆的樣式，
   所以改寫成 button.active:hover
*/
button.active:hover {
  background-color: #81c7d4b8;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 0;
  opacity: 1;
}
.dropdown-container a:hover {
  background-color: #81c7d4b8;
  border-radius: 0;
  opacity: 1;
}
.dropdown-container a:last-child:hover {
  border-bottom-left-radius: 40px;
}

/* main
=============================================*/
.main {
  margin: 0;
  padding: 0;
  margin-left: 300px;
  padding: 0px 10px;
}
.main h3 {
  font-size: 28px;
}

/*table*/
div.addr_table_container {
  width: 90%;
  margin: 0 auto;
}

div.addr_table_container>table {
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
  vertical-align: middle;
}
div.addr_table_container>table>thead>tr,
div.addr_table_container>table>tbody>tr{
  border-bottom: 1px solid #b0b0b0;
  text-align: center;
  position: relative;
  text-align: left;
}

div.addr_table_container>table>thead>tr>th {
  font-size: 18px;
  background-color: #7db9de;
  color: white;
  height: 60px;
  width: 60px;
  text-align: center;
}

div.addr_table_container>table>tbody>tr>td {
  height: 40px;
  width: 60px;
  text-align: center;
  font-size: 14px;
}

div.addr_table_container>table>tbody>tr:last-child>td{
  border-bottom: 0px;
}

/* div.addr_table_container table tr:last-child td {
  border-bottom: 0px;
} */

div.addr_table_container>table>thead>tr>th:last-child,
div.addr_table_container>table>tbody>tr>td:last-child{
  border-right: 0px;
}

/* div.addr_table_container table th:last-child,
div.addr_table_container table td:last-child {
  border-right: 0px;
} */

div.addr_table_container>table>thead>tr>th:hover{
  background-color: #81c7d4b8;
  cursor: default;
}

/* div.addr_table_container table th:hover {
  background-color: #81c7d4b8;
  cursor: default;
} */

div.addr_table_container>table>tbody>tr>td:hover{
  background-color: #a8d8b94d;
}

/* div.addr_table_container table td:hover {
  background-color: #a8d8b94d;
} */

/*icon*/
.fa {
  transition: 0.1s;
  cursor: pointer;
  padding: 0px 1px;
}

.fa-minus-circle {
  color: #9a0101;
}

.fa-edit,
.fa-save {
  color: #0073a8;
}

.fa:hover {
  transition: 0.1s;
  color: #404040;
}

/*page
=============================================*/
/* #pageStyle {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
  color: #b19693;
  margin-top: 20px;
  text-decoration: none;
}
#pageStyle:hover {
  background-color: #d7c4bb;
  border-radius: 50%;
}
#pageStyle .active {
  color: #ffffff;
} */




/*button
=============================================*/
.newPost-button {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: Verdana;
  font-size: 15px;
  font-weight: 300;
  padding: 10px;
  background-color: #df905e;
  -webkit-box-shadow: 3px 2px 5px 1px #948a8a;
  -moz-box-shadow: 3px 2px 5px 1px #948a8a;
  box-shadow: 3px 2px 5px 1px #948a8a;
  text-decoration: none;
  display: inline-block;
  position: flex;
  cursor: pointer;
  text-align: center;
  width: 50px;
  margin-left: 30px;
}

.newPost-button:hover {
  background: #e1a375;
  border: solid #000000 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/*search bar
=============================================*/
.search-bar {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: right;
  /* margin-left: 60%; */
}
.search-bar label {
  font-size: 18px;
  color: #554236;
}
.searchTerm {
  display: inline-block;
  width: 200px;
  border: 2px solid #00b4cc;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}