<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="web.forumCollections.mapper.ForumCollectionsMapper">

	<select id="findByMem" resultType="ForumCollectionsBo">
		select C.*, A.FOR_ART_TITLE, A.FOR_ART_CONTENT, T.FOR_TYPE
		from FORUM_COLLECTIONS C
		left join (FORUM_ARTICLE A
        left join FORUM_TYPE T
        on A.FOR_TYPE_NO = T.FOR_TYPE_NO)
        on C.FOR_ART_NO = A.FOR_ART_NO
		where C.MEM_ACCT = #{memAcct}
	</select>

	<insert id="add">
		insert into FORUM_COLLECTIONS
		(MEM_ACCT, FOR_ART_NO)
		values
		(#{memAcct}, #{forArtNo})
	</insert>
	
	<delete id="delete">
		delete from FORUM_COLLECTIONS where FOR_ART_NO = #{forArtNo} and MEM_ACCT = #{memAcct}
	</delete>

</mapper>